$blue: #1F6BDE;

.result-container {
  height: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    font-size: 40px;
  }
}

a {
  color: $blue;
  margin-right: 10px;
}

a:hover {
    color: $blue;
    font-weight: 400;
    text-decoration: underline;
  }

.info-header {
  font-size: 14;
  margin-top: 3%;
}

.info-body {
  color: #8E8E8E;
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    color: black;
  }
}
